body, h1, h2, h3, p, button, li {
	color: white;
	padding: 0px;
	margin: 0px;
	font-family: 'Luckiest Guy';
}

.body {
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(46,4,69,1) 50%, rgba(51,4,101,1) 100%);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.game-board {
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
	text-align: center;
}

.level {
	width: 25%;
	text-align: left;
	float: left;
}

.header-content {
	width: 100%;
}

.details-tab {
	float: right;
	width: 75px;
	margin-right: 25px;
}

.lives, .status, .time {
	background-color: #dedede;
	border-radius: 50px;
	padding: 15px;
	width: 100%;
	margin-bottom: 15px;
	color: #555;
}

.flasher {
	animation: flash 1s infinite;
}

@keyframes flash {
	0% {opacity: 0}
	50% {opacity: 1}
	100% {opacity: 0}
}

.tutorial {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.about, .about a {
	color: #435397;
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 90%;
	text-decoration: none;
}
.about a:hover {
	color: yellow;
}
