

.loc {
	width: 33px;
	height: 33px;
	margin: 5px;
	box-sizing:border-box;
	flex: 0 1 auto;
	position: relative;
}

.space {
	background-color: initial;
}

.clear {
	clear:both;
}

.tile {
	background-color: #efefef;
	border-radius: 3px;
	z-index: 5;
	box-shadow: inset 2px 2px 1px 0px #000000;
	text-align: center;
}

.avatar, .monster {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 2em;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	margin: 0 auto;
	left: 2px;
	right: 0px;
}

.avatar {
	animation: orb 1.5s infinite;
	background-color: #225d5d;
	border: 5px solid rgba(255,255,255,.6);
}

.monster {
	animation: orb2 2s infinite;
	background-color: #8c7d51;
}

@keyframes orb {
	0% { background-color: #225d5d;}
	50% { background-color: #4d807f; }
	100% { background-color: #225d5d;}
}

@keyframes orb2 {
	0% { background-color: #8c7d51;}
	50% { background-color: #5c5134; }
	100% { background-color: #8c7d51;}
}

.avatarT.monsterT {
	opacity: .6;
}


.tile.touchedA, .avatarT {
	background-color: #79cdcd;
}

.tile.touchedM, .monsterT {
	background-color: #cdb979;
}





.row {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.board {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}



